@value (hmBlack, hmWhite) from '../../styles/shared/colors.css';

.brandTitle {
  margin: .5rem;
  padding-left: 2rem;
}

.headerContainer nav {
  width: 100%;
}

.headerContainer .rightSide {
  margin-left: auto;
}

.headerContainer h1 {
  font-size: 1rem;
}

.headerContainer ul {
  list-style: none;
}

.headerContainer ul li {
  display: inline-block;
  padding-right: 2rem;
}

.headerContainer .navbarLink {
  color: hmWhite !important;
  font-size: 1rem;
  text-decoration: none;
}

.headerContainer .navbarToggle {
  background-color: hmWhite;
  width: auto !important;
}

.menuContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menuContainer a {
  color: white;
  display: block;
  padding: 15px 5px;
  text-decoration: none;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: hmBlack;
  color: hmWhite;
}

.navbarLinks {
  height: 100%;
}

.navbarLinks ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarLinks li {
  list-style: none;
}

.navbarLinks li a {
  color: hmWhite;
  display: block;
  padding: 1rem 0;
  text-decoration: none;
}

.toggleButton {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 21px;
  position: absolute;
  right: 1rem;
  top: .75rem;
  width: 30px;
}

.toggleButton .bar {
  background-color: hmWhite;
  border-radius: 10px;
  height: 3px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .brandTitle {
    padding-left: 0;
  }

  .headerContainer {
    top: 2rem;
  }

  .headerContainer nav {
    background-color: hmBlack;
    z-index: 1;
  }

  .headerContainer nav div:first-of-type {
    background-color: hmBlack;
  }

  .headerContainer h1 {
    font-size: 1rem;
  }

  .headerContainer ul li {
    padding-right: 1rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarLinks {
    display: none;
    width: 100%;
  }

  .navbarLinks ul {
    width: 100%;
    flex-direction: column;
  }

  .navbarLinks ul li {
    text-align: left;
  }

  .navbarLinks ul li a {
    padding: .5rem 1rem;
  }

  .navbarLinks.active {
    display: flex;
  }

  .showNavbarLinks {
    display: inline-block;
  }

  .toggleButton {
    display: flex;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .brandTitle {
    padding-left: 0;
  }

  .headerContainer {
    top: 2rem;
  }

  .headerContainer nav {
    background-color: hmBlack;
    z-index: 1;
  }

  .headerContainer nav div:first-of-type {
    background-color: hmBlack;
  }

  .headerContainer h1 {
    font-size: 1rem;
  }

  .headerContainer ul li {
    padding-right: 1rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbarLinks {
    display: none;
    width: 100%;
  }

  .navbarLinks ul {
    width: 100%;
    flex-direction: column;
  }

  .navbarLinks ul li {
    text-align: left;
  }

  .navbarLinks ul li a {
    padding: .5rem 1rem;
  }

  .navbarLinks.active {
    display: flex;
  }

  .showNavbarLinks {
    display: inline-block;
  }

  .toggleButton {
    display: flex;
  }
}
