@value (hmWhite) from '../../styles/shared/colors.css';

.academicPrepContainer {
  composes: layoutContainer from '../../styles/shared/layout.css';
  padding-left: 0;
  padding-right: 0;
}

.academicPrepContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
}

.academicPrepContent h4 {
  color: hmWhite;
  font-size: 1.5rem;
}

.academicPrepList {
  composes: cardContainer from '../../styles/shared/layout.css';
}

.academicPrepList img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.header1 {
  composes: header1 from '../../styles/shared/layout.css';
}

.itemLabel {
  composes: itemLabel from '../../styles/shared/layout.css';
}

.itemValue {
  composes: itemValue from '../../styles/shared/layout.css';
}

@media only screen and (max-width: 600px) {
  .academicPrepContent {
    padding-left: 0;
    padding-right: 0;
  }

  .academicPrepList {
    margin: 15px 0;
    padding: 0;
  }
}

@media only screen and (min-width: 600px) and (max-width:800px) {
  .academicPrepContent {
    padding-left: 0;
    padding-right: 0;
  }

  .academicPrepList {
    margin: 15px 0;
    padding: 0;
  }

  .academicPrepList span {
    font-size: 1.5rem;
  }
}

