@value (hmWhite) from '../../styles/shared/colors.css';

.App {
  padding-right: 10%;
  padding-left: 10%;
}

.homeContainer {
  min-height: 100vh;
}

.homeContainer .homeHeadWrapper {
  top:2rem;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  width: 40vw;
}

.homeContainer .content {
  padding-top: 15%;
}

.homeContainer .homeHeadWrapper h1 {
  color: hmWhite;
  font-size: 4.5rem;
  font-family: "Montserrat";
}

.homeContainer .homeHeadWrapper h1 span {
  color:#1E6FD9;
}

.homeContainer .homeHeadWrapper p {
  color: hmWhite;
  position: relative;
  font-size: 2rem;
}

.homeContainer .imageContainer img {
  height: 100%;
  position: relative;
  top: 5rem;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .homeContainer .homeHeadWrapper {
    margin-top: 4em;
    width: 100%;
  }
  
  .homeContainer .homeHeadWrapper h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  
  
  .homeContainer .homeHeadWrapper p {
    font-size: 1rem;
    text-align: center;
  }
  
  .homeContainer .imageContainer img {
    top: 2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width:800px) {
  .homeContainer .content {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 15%;
  }

  .homeContainer .content .textCol {
    max-width: 100%;
  }

  .homeContainer .content .imgCol {
    display: flex;
    flex: auto;
    justify-content: center;
    max-width: 100%;
  }

  .homeContainer .homeHeadWrapper {
    margin-top: 4em;
    width: 100%;
  }

  .homeContainer .homeHeadWrapper h1 {
    font-size: 2rem;
  }

  .homeContainer .imageContainer img {
    height: 20rem;
    top: 2rem;
    width: 20rem;
  }
}
