@value (hmWhite) from '../../styles/shared/colors.css';

.header1 {
  composes: header1 from '../../styles/shared/layout.css';
}

.skillsContainer {
  composes: layoutContainer from '../../styles/shared/layout.css';
}

.skillsList {
  composes: cardContainer from '../../styles/shared/layout.css';
}

.skillsList h4 {
  color: hmWhite;
}
