.collapsed {
  width: 0 !important;
}

.skills li {
  display: block;
  position: relative;
  background-color: #888;
  color: #fff;
  margin: 10px 0;
  transition: width 300ms ease-in-out;
}

.skills li p {
  padding: 10px;
  margin: 0;
  font-weight: bold;
}

.skills li span {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 30px;
  top: 11px;
  text-align: right;
  font-weight: normal;
  color: #fff;
  font-size: 11px;
}
