@value (hmWhite) from '../../styles/shared/colors.css';

.experienceContainer {
  composes: layoutContainer from '../../styles/shared/layout.css';
  padding-left: 0;
  padding-right: 0;
}

.experienceContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80vw;
}

.experienceList {
  composes: cardContainer from '../../styles/shared/layout.css';
}

.experienceList h4 {
  color: hmWhite;
}

.header1 {
  composes: header1 from '../../styles/shared/layout.css';
}

.itemLabel {
  composes: itemLabel from '../../styles/shared/layout.css';
}

.itemValue {
  composes: itemValue from '../../styles/shared/layout.css';
}

ul.itemValue {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
}

.projectsContainer img {
  height: 20rem;
  width: 20rem;
}

.projectsContainer .title {
  font-size: 1.2rem;
}


@media only screen and (max-width: 600px) {
  .experienceContent {
    top: auto;
    width: auto;
  }

  .experienceList {
    margin: 15px 0;
    padding: 0;
  }
}

@media only screen and (min-width: 600px) and (max-width:800px) {
  .experienceContent {
    top: auto;
    width: auto;
  }

  .experienceList {
    margin: 15px 0;
    padding: 0;
  }

  .experienceList span {
    font-size: 1.5rem;
  }
}
