@value (hmWhite) from '../../styles/shared/colors.css';

.aboutMeContainer {
  composes: layoutContainer from '../../styles/shared/layout.css';
}

.header1 {
  composes: header1 from '../../styles/shared/layout.css';
}

.parragraph {
  composes: parragraph from '../../styles/shared/layout.css';
}
